<html>
    <head>
        <!--1 타이틀-->
        <title>skyepodium 블로그</title>
        
        <!--2 메타 태그-->
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
        <meta name="theme-color" content="#fff">
        
        <link rel="stylesheet" href="/static/nav.css">
        <link rel="stylesheet" href="/static/detail_page.css">
        <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Baloo+Bhaina" rel="stylesheet">
    </head>
        

    <body>
        
        {% include 'nav.html' %}

        <div id="top">
            <div id="title">{{ post.title }}</div>

            <div id="sub_info">
                <div id="writer">
                    {{ post.writer }}
                </div>
                <div id="bar">
                    |
                </div>
                <div id="date">
                    {{ post.created_date|date:"Y.m.d H:i" }}
                </div> 
            </div>

        </div>

        <div id="contents">
            
            <div id="text">
                {{post.contents|linebreaks }}
            </div>
            
            <img id="image" src="{{post.photo.url}}" width="200">

        </div>



    </body>
</html>